[Desktop Entry]
Type=Action
Profiles=profile_id
Name=AudioInfo
Name[cc]=AudioInfo
Icon=

[X-Action-Profile profile_id]
MimeTypes=audio/*;
Exec=ServiceConsole AudioInfo %F
