[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureRotateFlip
Name[cc]=PictureRotateFlip
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureRotateFlip %F
