[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureRotateRight
Name[cc]=PictureRotateRight
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureRotateRight %F
