[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureOrganise
Name[cc]=PictureOrganise
Icon=

[X-Action-Profile profile_id]
MimeTypes=all/all;
Exec=ServiceConsole PictureOrganise %F
