[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureGetText
Name[cc]=PictureGetText
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureGetText %F
