[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureCorrect
Name[cc]=PictureCorrect
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureCorrect %F
