[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureOrientation
Name[cc]=PictureOrientation
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureOrientation %F
