[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureScale
Name[cc]=PictureScale
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureScale %F
