[Desktop Entry]
Type=Action
Profiles=profile_id
Name=PictureMontage
Name[cc]=PictureMontage
Icon=

[X-Action-Profile profile_id]
MimeTypes=image/*;
Exec=ServiceConsole PictureMontage %F
