[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoConvert
Name[cc]=VideoConvert
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoConvert %F
