[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoCut
Name[cc]=VideoCut
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoCut %F
