[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoRotate
Name[cc]=VideoRotate
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoRotate %F
