[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoReplaceVideoAudio
Name[cc]=VideoReplaceVideoAudio
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoReplaceVideoAudio %F
