[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoExtractAudio
Name[cc]=VideoExtractAudio
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoExtractAudio %F
