[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoReplaceAudio
Name[cc]=VideoReplaceAudio
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoReplaceAudio %F
