[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoSpeedUp
Name[cc]=VideoSpeedUp
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoSpeedUp %F
