[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoDouble
Name[cc]=VideoDouble
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoDouble %F
