[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoConcat
Name[cc]=VideoConcat
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoConcat %F
