[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoFilter
Name[cc]=VideoFilter
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoFilter %F
