[Desktop Entry]
Type=Action
Profiles=profile_id
Name=VideoExtractFrames
Name[cc]=VideoExtractFrames
Icon=

[X-Action-Profile profile_id]
MimeTypes=video/*;
Exec=ServiceConsole VideoExtractFrames %F
