[Desktop Entry]
Type=Action
Profiles=profile_id
Name=WhatsAppConvert
Name[cc]=WhatsAppConvert
Icon=

[X-Action-Profile profile_id]
MimeTypes=all/all;
Exec=ServiceConsole WhatsAppConvert %F
